<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>pressdown-15.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,10},{200,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,240}}</string>
        <key>sourceSize</key>
        <string>{200,240}</string>
      </dict>
      <key>pressdown-9.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,10},{70,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65,0},{70,240}}</string>
        <key>sourceSize</key>
        <string>{200,240}</string>
      </dict>
      <key>pressdown-10.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,270},{88,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{56,0},{88,240}}</string>
        <key>sourceSize</key>
        <string>{200,240}</string>
      </dict>
      <key>pressdown-11.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,10},{106,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47,0},{106,240}}</string>
        <key>sourceSize</key>
        <string>{200,240}</string>
      </dict>
      <key>pressdown-12.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,378},{128,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{36,0},{128,240}}</string>
        <key>sourceSize</key>
        <string>{200,240}</string>
      </dict>
      <key>pressdown-13.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,10},{152,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,0},{152,240}}</string>
        <key>sourceSize</key>
        <string>{200,240}</string>
      </dict>
      <key>pressdown-14.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,270},{176,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{12,0},{176,240}}</string>
        <key>sourceSize</key>
        <string>{200,240}</string>
      </dict>
      <key>pressdown-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,526},{200,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,240}}</string>
        <key>sourceSize</key>
        <string>{200,240}</string>
      </dict>
      <key>pressdown-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,466},{6,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{97,0},{6,240}}</string>
        <key>sourceSize</key>
        <string>{200,240}</string>
      </dict>
      <key>pressdown-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,466},{8,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{96,0},{8,240}}</string>
        <key>sourceSize</key>
        <string>{200,240}</string>
      </dict>
      <key>pressdown-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,466},{14,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{93,0},{14,240}}</string>
        <key>sourceSize</key>
        <string>{200,240}</string>
      </dict>
      <key>pressdown-5.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,466},{20,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{90,0},{20,240}}</string>
        <key>sourceSize</key>
        <string>{200,240}</string>
      </dict>
      <key>pressdown-6.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,506},{30,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{85,0},{30,240}}</string>
        <key>sourceSize</key>
        <string>{200,240}</string>
      </dict>
      <key>pressdown-7.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,556},{42,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{79,0},{42,240}}</string>
        <key>sourceSize</key>
        <string>{200,240}</string>
      </dict>
      <key>pressdown-8.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,618},{54,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{73,0},{54,240}}</string>
        <key>sourceSize</key>
        <string>{200,240}</string>
      </dict>
      <key>axiom-fail-23.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,10},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-24.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,212},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-25.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,414},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-26.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,616},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-27.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,746},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-28.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,746},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-29.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,692},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,10},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-30.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,212},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,414},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-5.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,616},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-6.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,948},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-7.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,948},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-8.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,894},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-9.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,818},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,818},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1022,10},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1022,212},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1022,414},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1022,616},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,818},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-15.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1150},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-16.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,1150},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-17.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,1096},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-18.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,1020},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-19.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,1020},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,1020},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1224,10},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-21.png</key>
      <dict>
        <key>frame</key>
        <string>{{1224,212},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1224,414},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-23.png</key>
      <dict>
        <key>frame</key>
        <string>{{1224,616},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-24.png</key>
      <dict>
        <key>frame</key>
        <string>{{1222,818},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-25.png</key>
      <dict>
        <key>frame</key>
        <string>{{1222,1020},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-26.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1352},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-27.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,1352},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-28.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,1298},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-29.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,1222},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-10.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,1222},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-30.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,1222},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1222,1222},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1426,10},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1426,212},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1426,414},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-8.png</key>
      <dict>
        <key>frame</key>
        <string>{{1426,616},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1424,818},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1424,1020},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1424,1222},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-11.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1554},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-12.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,1554},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-13.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,1500},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-14.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,1424},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-15.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,1424},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,1424},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1222,1424},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1424,1424},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-19.png</key>
      <dict>
        <key>frame</key>
        <string>{{1628,10},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1628,212},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1628,414},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-21.png</key>
      <dict>
        <key>frame</key>
        <string>{{1628,616},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1626,818},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-23.png</key>
      <dict>
        <key>frame</key>
        <string>{{1626,1020},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-24.png</key>
      <dict>
        <key>frame</key>
        <string>{{1626,1222},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-25.png</key>
      <dict>
        <key>frame</key>
        <string>{{1626,1424},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-26.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1756},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-27.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,1756},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-28.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,1702},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-29.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,1626},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,1626},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-30.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,1626},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1222,1626},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1424,1626},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1626,1626},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1830,10},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-8.png</key>
      <dict>
        <key>frame</key>
        <string>{{1830,212},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-perfect-9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1830,414},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1830,616},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1828,818},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1828,1020},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1828,1222},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1828,1424},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1828,1626},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-16.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1958},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-17.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,1958},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-18.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,1904},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-19.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,1828},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,1828},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,1828},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-21.png</key>
      <dict>
        <key>frame</key>
        <string>{{1222,1828},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-fail-22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1424,1828},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
      <key>axiom-good-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1626,1828},{182,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,37},{182,182}}</string>
        <key>sourceSize</key>
        <string>{256,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>hit_light.png</string>
      <key>size</key>
      <string>{2022,2150}</string>
      <key>textureFileName</key>
      <string>hit_light</string>
    </dict>
  </dict>
</plist>
