<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>axiom-texture-IV-Bottom.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,10},{1616,205}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{1616,205}}</string>
        <key>sourceSize</key>
        <string>{1626,215}</string>
      </dict>
      <key>axiom-texture-V-Strange.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,10},{1571,206}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{1571,206}}</string>
        <key>sourceSize</key>
        <string>{1581,216}</string>
      </dict>
      <key>axiom-texture-VI-Charm.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,10},{1467,206}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{1467,206}}</string>
        <key>sourceSize</key>
        <string>{1477,216}</string>
      </dict>
      <key>axiom-texture-II-Down.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,10},{1240,205}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{1240,205}}</string>
        <key>sourceSize</key>
        <string>{1250,215}</string>
      </dict>
      <key>axiom-texture-combo_late-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,10},{1061,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{1061,204}}</string>
        <key>sourceSize</key>
        <string>{1071,214}</string>
      </dict>
      <key>axiom-texture-combo_early-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,10},{1061,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{1061,204}}</string>
        <key>sourceSize</key>
        <string>{1071,214}</string>
      </dict>
      <key>axiom-texture-combo.png</key>
      <dict>
        <key>frame</key>
        <string>{{1360,10},{1061,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{1061,204}}</string>
        <key>sourceSize</key>
        <string>{1071,214}</string>
      </dict>
      <key>axiom-texture-III-Top.png</key>
      <dict>
        <key>frame</key>
        <string>{{1584,10},{925,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{925,204}}</string>
        <key>sourceSize</key>
        <string>{935,214}</string>
      </dict>
      <key>axiom-texture-IV-Sol.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,1270},{897,205}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{897,205}}</string>
        <key>sourceSize</key>
        <string>{907,215}</string>
      </dict>
      <key>axiom-texture-IV-Ya.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1646},{764,206}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{764,206}}</string>
        <key>sourceSize</key>
        <string>{774,216}</string>
      </dict>
      <key>axiom-texture-III-Ra.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,1495},{761,205}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{761,205}}</string>
        <key>sourceSize</key>
        <string>{771,215}</string>
      </dict>
      <key>axiom-texture-III-Mi.png</key>
      <dict>
        <key>frame</key>
        <string>{{1808,10},{743,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{743,204}}</string>
        <key>sourceSize</key>
        <string>{753,214}</string>
      </dict>
      <key>axiom-texture-II-Va.png</key>
      <dict>
        <key>frame</key>
        <string>{{1604,955},{682,206}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{682,206}}</string>
        <key>sourceSize</key>
        <string>{692,216}</string>
      </dict>
      <key>axiom-texture-V-La.png</key>
      <dict>
        <key>frame</key>
        <string>{{10,1872},{653,206}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{653,206}}</string>
        <key>sourceSize</key>
        <string>{663,216}</string>
      </dict>
      <key>axiom-texture-I-Do.png</key>
      <dict>
        <key>frame</key>
        <string>{{683,1872},{615,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{615,204}}</string>
        <key>sourceSize</key>
        <string>{625,214}</string>
      </dict>
      <key>axiom-texture-II-Re.png</key>
      <dict>
        <key>frame</key>
        <string>{{1318,1720},{611,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,5},{611,204}}</string>
        <key>sourceSize</key>
        <string>{621,214}</string>
      </dict>
      <key>axiom-texture-I-Up.png</key>
      <dict>
        <key>frame</key>
        <string>{{2032,10},{548,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{548,204}}</string>
        <key>sourceSize</key>
        <string>{558,214}</string>
      </dict>
      <key>axiom-texture-I-La.png</key>
      <dict>
        <key>frame</key>
        <string>{{1949,773},{530,205}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{530,205}}</string>
        <key>sourceSize</key>
        <string>{540,215}</string>
      </dict>
      <key>axiom-texture-6.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,1497},{119,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{21,12},{119,179}}</string>
        <key>sourceSize</key>
        <string>{161,203}</string>
      </dict>
      <key>axiom-texture-8.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,1720},{119,179}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{20,12},{119,179}}</string>
        <key>sourceSize</key>
        <string>{161,203}</string>
      </dict>
      <key>axiom-texture-9.png</key>
      <dict>
        <key>frame</key>
        <string>{{993,1720},{119,179}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{20,12},{119,179}}</string>
        <key>sourceSize</key>
        <string>{161,203}</string>
      </dict>
      <key>axiom-texture-0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1318,1944},{119,179}}</string>
        <key>offset</key>
        <string>{-1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{20,12},{119,179}}</string>
        <key>sourceSize</key>
        <string>{161,203}</string>
      </dict>
      <key>axiom-texture-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1517,1944},{113,179}}</string>
        <key>offset</key>
        <string>{-3,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{21,12},{113,179}}</string>
        <key>sourceSize</key>
        <string>{161,203}</string>
      </dict>
      <key>axiom-texture-10.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,1091},{137,178}}</string>
        <key>offset</key>
        <string>{0,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{12,12},{137,178}}</string>
        <key>sourceSize</key>
        <string>{161,203}</string>
      </dict>
      <key>axiom-texture-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1716,1944},{120,176}}</string>
        <key>offset</key>
        <string>{-2.5,1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{18,12},{120,176}}</string>
        <key>sourceSize</key>
        <string>{161,203}</string>
      </dict>
      <key>axiom-texture-5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1912,1944},{118,176}}</string>
        <key>offset</key>
        <string>{0.5,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{22,15},{118,176}}</string>
        <key>sourceSize</key>
        <string>{161,203}</string>
      </dict>
      <key>axiom-texture-4.png</key>
      <dict>
        <key>frame</key>
        <string>{{2108,1323},{128,173}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,15},{128,173}}</string>
        <key>sourceSize</key>
        <string>{161,203}</string>
      </dict>
      <key>axiom-texture-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2032,578},{109,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,15},{109,173}}</string>
        <key>sourceSize</key>
        <string>{161,203}</string>
      </dict>
      <key>axiom-texture-7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2108,1516},{128,173}}</string>
        <key>offset</key>
        <string>{2.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,15},{128,173}}</string>
        <key>sourceSize</key>
        <string>{161,203}</string>
      </dict>
      <key>axiom-texture-11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1575,1657},{37,37}}</string>
        <key>offset</key>
        <string>{-1,-71}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{61,154},{37,37}}</string>
        <key>sourceSize</key>
        <string>{161,203}</string>
      </dict>
      <key>axiom-texture-combo_early-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,10},{1061,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{1061,204}}</string>
        <key>sourceSize</key>
        <string>{1071,214}</string>
      </dict>
      <key>axiom-texture-combo_late-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,10},{1061,204}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{1061,204}}</string>
        <key>sourceSize</key>
        <string>{1071,214}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>key_and_num.png</string>
      <key>size</key>
      <string>{2246,2088}</string>
      <key>textureFileName</key>
      <string>key_and_num</string>
    </dict>
  </dict>
</plist>
